<div class="view-compose">
  <span class="add"><%= link_to 'Add', new_user_path, remote: true %></span>
  <span class="divider"> | </span>
  <span class="delete"> <%= link_to 'Delete',view_user_delete_path(@user), remote: true %></span>
</div>
