<% if flash[:notice] %>
    <div class="f-notice alert alert-success">
      <%= flash[:notice] %>
    </div>
<% elsif flash[:alert] %>
    <div class="f-alert alert alert-danger">
      <%= flash[:alert] %>
    </div>
<% elsif flash[:warning] %>
    <div class="f-alert alert alert-warning">
      <%= flash[:warning] %>
    </div>
<% end %>