PUSH NOTIFICATIONS
<div class="view-compose">
  <!-- <span class="view"><#%= link_to 'View', app_message_index_path, remote: true, class: 'black' %></span>
		<% if @app.check_for_token %> -->
   <!--<span class="divider"> | </span>-->
  <!--<span class="compose"> <%#= link_to 'Compose', new_message_path, remote: true %></span>-->
	  <% end %>
</div>
