.wrapper_new_push_notifications{
  .char_count{
    position: absolute;
    bottom: 5px;
    right: 160px;
    color: rgba(0,0,0,.6);
  }
}
.wrapper_view_push_notifications {
  list-style: none;
  text-align: left;
  padding: 0;
  font-size: 1.2em;
  width: 107%;
  height: 34.6vh;
  li {
    padding: 0 20px !important;
    height: 120px;
  }
  li.user {
    padding: 10px 15px;
  }
  a:hover, a:link, a:hover, a:visited {
    background-color: transparent;
    text-decoration: none;
    color: black;
  }
  li:hover, .active {
    text-decoration: none;
    color: black;
  }
  .pushes_list {
    list-style-type: none;
    padding: 0;
    height: 37.6vh;
  }
  .push-title {
    font-size: .8em;
    font-weight: 600;
  }
  .push-body {
    font-weight: 600;
    font-size: 0.65em;
    margin-top: 5px;
    word-wrap: break-word;
    overflow-x: auto;
    margin-right: 15px;
    width: 83%;
    color: rgba(0, 0, 0, 0.6);
  }
  .holder{
    display: table;
    height: 120px;
    width: 100%;
  }
  .center-box{
    display: table-cell;
    vertical-align: middle;
  }
  .fade-box{
    position: absolute;
    width: 100%;
    height: 4vh;
    left: 0;
    bottom: 0;
    background: red; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(bottom,rgba(255,255,255,0),rgba(0,0,0,1)); /*Safari 5.1-6*/
    background: -o-linear-gradient(top,rgba(255,255,255,0),rgba(0,0,0,1)); /*Opera 11.1-12*/
    background: -moz-linear-gradient(top,rgba(255,255,255,0),rgba(0,0,0,1)); /*Fx 3.6-15*/
    background: linear-gradient(to top, rgba(255,255,255,1), rgba(0,0,0,0));
  }
}